@import '../node_modules/mini.css/dist/mini-default.min.css';

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,
body,
#root,
.container,
.center-page {
    height: 100%;
}

.center-page {
    display: flex;
    justify-content: center;
    align-items: center;
}
